<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="content_ai" frontName="content_ai">
            <module name="OH_ContentAI"/>
        </route>
    </router>
</config>
